<ion-view title="Nueva Rutina">
    <ion-content class="gradient-pattern">
        <section class="container">
            <div class="login">

                <label class="item item-input">
                    <input type="text" placeholder="Nombre" ng-model="rutinas.nombre">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Descripción" ng-model="rutinas.descripcion">
                </label>


                <label class="item">
                    <p class="submit"><input type="button" value="Registrar Rutina" ng-click="registrar()"></p>

                </label>
            </div>
        </section>
        </div>
    </ion-content>
</ion-view>