<ion-view title="Nuevo Ejercicio">
    <ion-content class="gradient-pattern">
        <section class="container">
            <div class="login">


                    <input type="text" placeholder="Nombre de la zona" ng-model="ejercicios.nombre">


                    <textarea name="descripcion" rows="5" cols="30"
                              placeholder="Escribe aquí tus comentarios" ng-model="ejercicios.descripcion"></textarea>


                    <p class="submit"><input type="button" value="Registrar Ejercicio" ng-click="registrar()"></p>

            </div>
        </section>
        </div>
    </ion-content>
</ion-view>